<head>
    <script type="text/javascript" src="{{ config.directory }}/scripts/testjs"></script>
    <link rel="stylesheet" href="{{ config.directory }}/styles/style" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<div class="header">
    <div class="logo">3 laboratorinis darbas</div>
</div>

{% for message in messages %}
    <div class="message {{ message.type }}">{{ message.text }}</div>
{% endfor %}
