{% include 'header.twig' %}
<div class="user-box">
    <div class="greet">
        Labas, <strong>{{ user.name }}</strong>!
    </div>
    Sėkmingai prisijungei prie sistemos. Dabar gali:
    <div class="text">
        <a href="{{ config.directory }}/user/logout">Atsijungti</a>
    </div>
</div>
{% include 'footer.twig' %}