{% include 'header.twig' %}


    <form method="post" class="form" autocomplete="off">
        <input type="text" name="username" placeholder="Vartotojo vardas">
        <input type="password" name="password" placeholder="Vartotojo slaptažodis">
        <input type="submit" value="Prisijungti">
        <div class="text">
            Dar neturi registracijos? <a href="{{ config.directory }}/user/register">Užsiregistruok!</a>
        </div>
    </form>

{% include 'footer.twig' %}