{% include 'header.twig' %}

    <form method="post" class="form" autocomplete="off">
        <input type="text" name="username" placeholder="Vartotojo vardas">
        <input type="password" name="password" placeholder="Slaptažodis">
        <input type="submit" value="Registruotis">
        <div class="text">
            Jau turi registraciją? <a href="{{ config.directory }}/user/login">Prisijunk!</a>
        </div>
    </form>

{% include 'footer.twig' %}