body{
    background-color: #eeeeee;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
input{
    display: block;
}
input[type="text"], input[type="password"]{
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}
input[type="submit"]{
    padding: 7px 20px;
    background-color: #313c47;
    color: #eeeeee;
    border: 0;
    margin: 0 auto;
}
.header{
    width: 100%;
    background-color: #313c47;
    height: 100px;
}
.logo{
    color: #eeeeee;
    line-height: 100px;
    font-size: 24px;
    margin-left: 20px;
}
.message{
    text-align: center;
    background-color: chartreuse;
    margin: 10px;
    border-radius: 5px;
    padding: 3px;
}
.message.error{
    background-color: crimson;
    color: #eeeeee;
}
.form{
    width: 300px;
    margin: 20px auto;
    text-align: center;
    align-content: center;
}
.text{
    margin-top: 10px;
}
.text a{
    color: cadetblue;
    text-decoration: none;
}
.greet{
    margin-bottom: 20px;
}
.user-box{
    width: 300px;
    margin: 20px auto;
    text-align: center;
    align-content: center;
}